body {
    margin: 0;
    padding: 0;
    background-image: url("../images/body-background1.jpg");
    text-align: center;

}

.hero-image {
    background-image: url("../images/header-background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    text-align: center;
}

.header-text {
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    position: relative;
    top: 20%;
}

.title {
    color: antiquewhite;
    text-align: center;
    border-style: solid;
    grid-column-start: span 2;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

img {
    height: 200px;
    width: 200px;
}

picture {
    grid-row-start: span 2;
}

.intro {
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.422);
}

.header-nav {
    padding: 5px;
    position: sticky;
    top: 0;
    background-color: rgb(0, 26, 255, .25);
    border: 2px solid #0022ff;
}

.navtext {
    color: antiquewhite;
    margin: 10px;
    padding: 5px;
    border-radius: 10%;    
}

.title > h1 {
    margin: 0;
    grid-column-start: span 2;
}
.title > h2 {
    grid-column-start: span 2;
}

.heading {
    color: antiquewhite;
    background-color: rgb(4, 0, 255, .52);
    margin-left: 35%;
    margin-right: 35%; 
    border-style: solid;
    border-color: antiquewhite;
    margin-bottom: 50px;
}

/* Main section css */
.institutions {
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
}

.inst {
    color: rgb(255, 222, 179);
    grid-column-start: span 2;
    border-style: solid;
    border-color: rgb(0, 0, 255, .90);
    border-radius: 7%;
    background-color: rgb(250, 235, 215, .25);
}

h3 {
    color: #002e54;
}

#codespace {
    grid-column-start: 2;
    grid-column-end: 4;
}

.skills {
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

p {
    color: antiquewhite;
}

@keyframes lang {
    from {
        color: antiquewhite;}
    to {
        color: #002e54;}
}
.language {
    margin-left: 20%;
    margin-right: 20%;
    border-style: solid;
    border-color: rgb(0, 0, 255, .90);
    border-radius: 7%;
    background-color: rgb(250, 235, 215, .25);
    animation-name: lang;
    animation-duration: 2;
    animation-direction: alternate;
}

.tech-skills {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.soft-skills {
    border-style: solid;
    border-color: rgb(0, 0, 255, .90);
    border-radius: 7%;
    background-color: rgb(250, 235, 215, .25);
}

/* footer */
#contacts {
    color: aliceblue;
    background-color: rgb(4, 0, 255, .25);
}

#contacts > h3 {
    color: antiquewhite;
}

.contact-logo {
    height: 70px;
    width: 70px;
    margin-top: 20px;
}

/* Mobile display */
@media only screen and (max-width: 425px) {
    .header-text {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        top: 0px;
        margin: 0px;
        align-items: start;
    }
    .title {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .title > h2 {
        margin-top:0px;
        font-size: 1.3em;
    }
    .title > h1 {
        font-size: 1.6em;
    }
    .intro {
        padding: 10px;
    }

    .header-nav {
        padding: 0;
    }
    .navtext {
        padding: 0px;
    }

    .institutions {
        display: flex;
        flex-direction: column;
    }
    #codespace {
        grid-column-start: span 2;
    }
    .inst {
        grid-column-start: span 2;
    }

    .heading {
        margin-left: 15%;
        margin-right: 15%;
        font-size: 1.3em;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        font-size: 0.9em;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .contact-logo {
        height: 40px;
        width: 40px;
        margin-top: 20px;
    }
}

/* Tablet display */
@media only screen and (max-width: 768px) {
    .skills {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }

    .contact-logo {
        height: 50px;
        width: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    img {
        height: 100%;
        width: 100%;
    }
    h1 {
        font-size: 300%;
        align-self: center;
    }
    .title > h2 {
        font-size: 200%;
    }
    .intro {
        align-self: start;
        font-size: 170%;
    }

    .navtext {
        font-size: 159%;
    }
    h2 {
        font-size: 200%;
    }
    h3 {
        font-size: 170%;
    }
    h4 {
        font-size: 160%;
    }
    .inst > p, .soft-skills > p {
        font-size: 140%;
    }

    label {
        font-size: 160%;
    }
    input {
        padding: 0.8% 8%;
    }
}